
html, body {
	height: 100%; /* Used to enable scrolling */
	width: 100%;
	padding: 0%;
	margin: 0;
  }

#viewDiv {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

.fill-height {
	height: 100%;
}

.fill-width {
	width: 100%
}

/*scrolling part */
.scrollable {
	height: 95%;/* or any value */
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	padding-bottom: 10px;
}

/*Cards on left column */
.card {
	/* Add shadows to create the "card" effect */
	color: gray;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	padding: 20px;
	}
	
	/* On mouse-over, add a deeper shadow */
.card:hover {
	color: black;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
	/* Add some padding inside the card container */
.card.container {
	padding: 2px 16px;
}
/*BUTTONS
https://www.w3schools.com/howto/howto_js_scroll_to_top.asp
*/
.card.button {
	 background-color: #bbb;
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

button {
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
	vertical-align: middle;
}


myBtn {
  top: 10px;
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 10px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: blue; /* Set a background color */
	color: rgb(121, 10, 10); /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
	background-color: rgba(255, 99, 71, 0); /* Add a dark-grey background on hover */
  }


