html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 );
}

#viewDiv {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

.fill-height {
	height: 100%
}

.fill-width {
	width: 100%
}
					
#frontTitle{
	color: #6b1b15;
	font-weight: bold;
	text-align: center;
	font-family: 'DIN Next W01', sans-serif;
	border-bottom: 2px solid #6b1b15;
}

h2{
	text-align: center;
	color: #6b1b15;
	border-bottom: 2px solid #6b1b15;
}

h4{
	text-align: center;
}

p{
	text-align: center;
	font-size: 18px;
}

.button{
  	display: inline-block;
  	border-radius: 4px;
  	background-color: #6b1b15;
  	border: none;
  	color: #FFD700;
  	text-align: center;
  	font-size: 28px;
  	padding: 20px;
  	width: 300px;
  	transition: all 0.5s;
  	cursor: pointer;
	margin: 5px;  
}
.button span{
  	cursor: pointer;
  	display: inline-block;
  	position: relative;
  	transition: 0.5s;
}
.button span:after{
  	content: '\00bb';
  	position: absolute;
  	opacity: 0;
  	top: 0;
  	right: -20px;
  	transition: 0.5s;
}
.button:hover span{
  	padding-right: 25px;
}
.button:hover span:after{
  	opacity: 1;
  	right: 0;
}